@import '../../../../assets/style/mixin.module.scss';
@import '../../../../assets/style/variable.module.scss';

.container {
    @include flex_box_custom(flex-start, flex-start, 15px);
    position: relative;
    margin-top: 30px;
    padding: 18px 12px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    img {
        width: 70px;
    }

    .boxClose {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        transform: translateX(30px);
        transition: all 0.2s ease-in-out;
    }

    .boxContent {
    @include flex_box_custom(center, flex-start, 10px);
    flex-direction: column;
    }

    .title {
        font-size:16px ;
        color: $thr_color;
    }

    .price {
        font-size:14px ;
        color: $four_color;
    }

    &:hover {
        background-color: #f7f7f7;
        .boxClose {
            transform: translateX(0px);
        }
    }

    .size {
        color: #9e9e9e;
        font-size: 14px;
    }
    .overlayLoading {
        @include flex_box_custom(center, center, 0px);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }

}