@import '@style/mixin.module.scss';
@import '@style/variable.module.scss';

.box {
    // @include flex_box_custom(center, center, 20px);
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;

}

.title {
    font-size: 18px;
    color: $secondary_color;
}