@import '@style/mixin.module.scss';
@import '@style/variable.module.scss';

.container {
    position: relative;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.3);
        transition:background-color 300ms ease-in ;
    }

    .sideBarContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 340px;
        background-color: $white_color;
        z-index: 1001;
        height: 100vh;
        transform: translateX(340px);
        transition: all 0.3s ease-in-out;
    }

    .slideSideBar {
        transform: translateX(0);
    }

    .closeBox {
        @include flex_box_custom(center, center, 0);
        @include radius_common(50%);
        position: absolute;
        width: 35px;
        height: 35px;
        background-color: $white_color;
        left: -60px;
        top: 20px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }
    }
}
