@import '@style/mixin.module.scss';
@import '@style/variable.module.scss';

.container {
    margin-bottom: 15px;

    .labelInput {
        font-size: 12px;
        color: $four_color;
        margin-bottom: 5px;
        text-align: left;
    }

    .boxInput {
        width: 100%;
        position: relative;
        input {
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 10px 0 10px 10px;
        }

        .boxIcon{
            position: absolute;
            top: 11px;
            right: 0;
            cursor: pointer;
        }

        .errMsg {
            font-size: 12px;
            color: red;
        }
    }
}