@import '@style/mixin.module.scss';
@import '@style/variable.module.scss';

.container {
    padding: 30px 20px 0 20px;

    @include flex_box_custom(space-between,space-between, 10px);
    flex-direction: column;
    padding: 30px 20px 0 20px;
    height: 90vh;

    .boxIcon {
        @include flex_box_custom(center,center, 10px);
        flex-direction: column;
    }
}